.inp {
  border: none;
  border-radius: 5.5px;
  padding: 10px;
  width: 100%;
}
.inpicocont {
  border: 1.2px solid #b2b2b2;
  display: flex;
  margin-right: 5px;
  border-radius: 5px;
  position: relative;
}

.inpicocont:nth-child(even) {
  margin-right: 0;
}

.icon {
  margin: 13px;
  margin-top: 14px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
