.base {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorCode {
  font-size: 42px;
  font-family: bold;
  color: #1a1a1a;
  text-align: center;
}
.errorMessage {
  font-size: 28px;
  font-family: bold;
  color: #1a1a1a;
}
.fixedHeader {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 1;
  background: #fff;
  z-index: 2;
}
